* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgba(219, 197, 161, 0.6);
}

/* Nav */
.nav {
    height: 50px;
    background-color: rgb(60, 46, 46);
    text-align: center;
    line-height: 50px;
}

.nav-item {
    display: none;
}

.nav-item a:hover {
    color: rgb(222, 147, 90);
}

.burger-menu {
    display: block;
    margin-left: auto;
    padding: 0 30px;
    font-size: 20px;
    color: white;
    line-height: 45px;
    background: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.burger-menu:hover {
    color: rgb(222, 147, 90);
}


/* Header */
.header-img {
    position: relative;
    height: 200px;
    background-image: url('../img/spa-gecc769c72_1920.jpg');
    background-size: cover;
    background-position: 50% 55%;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    color: white;
    font-size: 13px;
    z-index: 5;
}

.header-text h1 {
    margin-bottom: 15px;
}

.header-text h4 {
    font-size: 18px;
}

.header-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(85, 52, 52, 0.3);
}

/* Main */
main {
    margin: 50px auto;
}

main h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: -20px;
}

.about-us-box {
    position: relative;
    margin: 70px 0; 
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 0;
}

.first-box {
     background-image: url('../img/massage-g4231ec1bb_1920.jpg');
}

.second-box {
    background-image: url('../img/istockphoto-1336348648-170667a.jpg');
}
   
.third-box {
    background-image: url('../img/girl-ge6404de2e_1920.jpg');
}

.about-us-text {
    position: absolute;
    padding: 20px 40px;
    bottom: 15px;
    text-align: center;
    font-size: 14px;
    color: white;
}

.about-us-text h3 {
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 15px;
}

.about-us-shadow {
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    background-color: rgba(35, 27, 27, 0.7);
    border-bottom-right-radius: 20px;
}

.second-shadow {
    height: 48%;
}

.third-shadow {
    height: 44%;
}

/* Services */
.services-list {
    margin: 0 auto;
    width: 200px;
}

/* Pricelist */
.prices-table {
    margin: 30px;
    padding: 50px;
    border: 5px solid brown;
}

/* Footer */
footer {
    height: 80px;
    line-height: 80px;
    background-color: rgb(60, 46, 46);
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.icons {
    margin-left: 20px;
}

.icons a {
    color: white;
    font-size: 25px;
    transition: .8s;
}

.icons a:hover {
    color: rgb(222, 147, 90);
}


@media (min-width: 768px) {
    .burger-menu {
        display: none;
    }
    .nav-item {
        display: inline-block;
    }
    .nav-item a {
        padding: 0 50px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        transition: .3s;
    }
    .header-img {
        position: relative;
        height: 360px;
        background-image: url('../img/spa-gecc769c72_1920.jpg');
        background-size: cover;
        background-position: 50% 55%;
    }
    .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        color: white;
        font-size: 18px;
        z-index: 5;
    }
    .header-text h4 {
        font-size: 25px;
    }
    .services-list {
        width: 700px;
    }
}

@media (min-width: 670px) {
    main h2 {
        font-size: 22px;
        margin-top: 65px;
        margin-bottom: 18px;
    }
    .about-us-text h3 {
        font-size: 20px;
    }
    .about-us-text {
        font-size: 17px;
    }
    .about-us-shadow {
        height: 36%;
    }
}
@media (min-width: 570px) {
    .about-us-shadow {
        height: 36%;
    } 
}
@media (min-width: 460px) {
     .second-shadow {
        height: 38%;
    }
    .third-shadow {
        height: 38%;
    }
    .services-list {
        width: 400px;
    }
}
@media (min-width: 1000px) {
    .services-list {
        width: 900px;
    }
}